.box {
  width: 40%;
  margin-top: 10px;
  height: 80px;
  padding: 10px;
  background-color: #798999;
  border: 1px outset #a9a9a9;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 3px 3px 3px #4f4f4f;
  padding: 5px;
}

.box:hover {
  transition: 0.5s ease;
  transform: scale(1.05);
  border-radius: 10px;
}

.titulo {
  font-weight: bold;
  color: #dcdcdc;
  margin-bottom: 5px;
}

.numero {
  font-size: 32px;
  font-weight: bold;
  color: #171f2b;
}
