.box {
  width: 25%;
  margin-top: 20px;
  height: 70px;
  padding: 10px;
  background-color: #708090;
  border: none;
  cursor: pointer;
}

.box:hover {
  transition: 0.5s ease;
  transform: scale(1.05);
  box-shadow: 5px 5px 5px #778899;
  border-radius: 10px;
}

.titulo {
  font-weight: bold;
  color: #dcdcdc;
  margin-bottom: 5px;
}

.numero {
  font-size: 28px;
  font-weight: bold;
  color: #171f2b;
}
